.App{
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns:  1fr 10fr;
}

.Header{
  grid-area: h;
  background-color: #8A1919;
  color: white;
}

.logo
{
  text-align: center;
}

.Navigator{
  grid-area: n;
  color: white;
  background-color: #8A1919;
}

.Content{
  grid-area: c;
}

.pic
{
  width: 100%;
}
